:root{
    --darkblue: "#00008b";
    --gold: "#ffd700";
    --red: "#ff0000";
}

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #111827;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    overflow: hidden;
    margin-bottom: 10px;
    display: inline-block;
    /* width: 100%; */
    margin-top: 0;
    padding-top: 0;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
}


.nav-item{
    float: left;
    padding: 10px;
    overflow: hidden;
    color: var(--gold);
    text-decoration: none;
}

.reglog{
    float: right;
    padding: 10px;
    overflow: hidden;
    color: var(--red);
    text-decoration: none;
}
